
@{
    ViewBag.Title = "CompanyHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CompanyHome</h2>

<div>
    @Html.ActionLink("Create Job Vaccancy", "CompVacancy_Pageload", "CompVacancy")
</div>